
body {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


/************* NAVIGATION **************/
#header-nav {
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 0;
    border: 0;
}

/***NAME***/
.navbar-brand {
    padding-top: 10px;
}


.navbar-brand h1 {
    font-family: 'Fira Mono', monospace;
    color: rgba(0, 0, 0, 0.534);
    font-size: 1em;
    margin-top: 2%;
    margin-left: 10%;
    padding-left: 10%;
}


#navBarLi, #navBarLi a:hover, #navBarLi a:focus{
   color: plum;
   font-family: 'Fira Mono', monospace;
   list-style: none;
   float:right; 
   text-align: right;
}

.nav-link {
    color: rgba(0, 0, 0, 0.534);
    
      
}

.navbar-dark .navbar-toggler {
    color: plum;
    outline: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.0)
  }

.navbar-light .navbar-toggler {
    color: plum;
    outline: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.0)
}


div p {
    font-family: 'Fira Mono', monospace;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    padding-left: 2%;
    margin-left: 2%;
    
} 
/*****LANDING PAGE*****/

#mainImg {
    object-fit: cover;
    width: 100%;
    height: 1042px}

#sideImg {
    object-fit: cover;
    width: 100%;
    height: 400px;
}