
body {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/*--------------------- NAVIGATION ------------------*/
#header-nav {
    background-color: rgba(221, 161, 221, 0.0);
    border-radius: 0;
    border: 0;
    margin: 0;
}

/***NAME***/
.navbar-brand {
    padding-top: 10px;
}
.navbar-brand h1 {
    font-family: 'Fira Mono', monospace;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 1.15em;
    margin-top: 2%;
    margin-left: 10%;
    padding-left: 13%;
}

.navbar-brand h1:hover {
    color: rgba(221, 161, 221, 1);
}


.fa-instagram:hover, .fa-instagram:focus,
.fa-twitch:hover, .fa-twitch:focus,
.fa-twitter:hover, .fa-twitter:focus,
.fa-linkedin:hover, .fa-linkedin:focus,
.fa-github:hover, .fa-github:focus {
    color: plum;
  }


  .fa-instagram:link, .fa-instagram:visited,
  .fa-twitch:link, .fa-twitch:visited,
  .fa-twitter:link, .fa-twitter:visited, 
  .fa-linkedin:link, .fa-linkedin:visited,
  .fa-github:link, .fa-github:visited {
    color: rgba(0, 0, 0, 0.4);
}

.nav-link {
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Fira Mono', monospace;
    font-size: 1.15em;
    font-weight:100;
    list-style: none;
    text-align: right;
}

.nav-link:hover {
    color: plum;
}
/***HAMBURGER MENU***/
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.custom-toggler .navbar-toggler-icon:hover,
.custom-toggler .navbar-toggler-icon:focus,
.custom-toggler .navbar-toggler-icon:active {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(221, 160, 221, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon, 
.custom-toggler .navbar-toggler-icon:visited  {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.53)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*----------------------END NAVIGATION-----------------*/

div p {
    font-family: 'Fira Mono', monospace;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    padding-left: 2%;
    margin-left: 2%;

}
/*****LANDING PAGE*****/

#mainImg {
    
    object-fit: cover;
    width: 100%;
    height: 1000px 
}

#sideImg {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

#navImg{
    object-fit: contain;
    width: 20px;
    height: 20px;
}

@media only screen 
and (min-width : 1450px) {

    #mainImg {
    object-fit: cover;
    width: 100%;
    height: auto 
}
}